
<mat-sidenav-container>
  <mat-sidenav [fixedInViewport]="true" mode="side" #sidenav opened>
    <mat-nav-list >

      <a mat-list-item [routerLink]="'/'"> Currnet Music </a>
      <a mat-list-item [routerLink]="'/uploadMusic'"> Upload Music </a>
      <a mat-list-item [routerLink]="'/showQrCode'">Local Qr Code</a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="full_containser">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<ngx-ui-loader></ngx-ui-loader>